body {
  background-color: #ffffff;
  background-image: url(https://ton.twitter.com/1.1/ton/data/dm/1583902314661875719/1583902296567595009/FkUfGTPL.jpg:large);
  background-size: cover;
 background-repeat: no-repeat;
  background-attachment: scroll;
}

h1 {
  text-align: center;
  font-family: Georgia, serif;
  font-size: 34px;
  font-style: normal;
  font-weight: normal;
  color: lime;
  background-color: rgba(0, 0, 0, 0.45);
}

h3 {
  text-align: center;
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: normal;
  color: lime;
  background-color: rgba(0, 0, 0, 0.45);
}

p {
  text-align: center;
  font-family: Georgia, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  color: lime;
  background-color: rgba(0, 0, 0, 0.45);
}

ul {
  text-align: center;
  font-family: Georgia, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  color: lime;
  background-color: rgba(0, 0, 0, 0.45);
}

.selfie {
display: block;
  margin-left: auto;
  margin-right: auto;
  
  width:248px;
  height:248px;
}